<%- include('./components/header.ejs', {title: "Logar-se - Inflaveis"}); %>

<section class="login">
  <div class="container">
    <h3>Entre na sua conta</h3>
    <form action="/login" method="POST">
      <!-- formualrio de login -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Digite seu email">
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" name="senha" class="form-control" id="senha" placeholder="Digite sua senha">
      </div>
      <% if(typeof msg !== 'undefined'){ %> 
        <div class="alert alert-<%= (typeof msgType !== 'undefined') ? msgType: "danger"%>" role="alert">
          <p><%= msg%></p>
        </div>
      <% } %>
      <p>Ainda não tem uma conta?<a href="/register"> cadastre-se aqui!</a> </p>
      <button type="submit" class="bt_secundario">Entrar</button>
    </form>
  </div>
</section>

<%- include('./components/secProdutos.ejs'); %>


<%- include('./components/footer.ejs'); %>