<%- include('./components/header.ejs', {title: "Logar-se - Inflaveis"}); %>

<section class="secProduto">
    <div class="container">
        <h2><%= produto.name %></h2>
        <p><%= produto.description %></p>
        <p>R$<%= produto.price %>,00</p>
        <img src="/<%= produto.img %> " alt="">
        <a id="aluguel" href="/aluguel/<%= produto.id %>" class="bt_secundario">Alugar</a><br>
        <a href="/">Veja outros produtos!</a>
    </div>
</section>

<script defer>
    let usuarioAlugar = localStorage.getItem('user');
    if (!usuarioAlugar)
      document.getElementById('aluguel').style.display = 'none';
</script>

<%- include('./components/footer.ejs'); %>