<%- include('./components/header.ejs', {title: "Home - Inflaveis"}); %>

<section class="login">
  <div class="container">
    <h3>Crie uma nova conta</h3>
    <form action="/register" method="POST">
      <!-- formualrio para cadastrar novo usuario -->
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" name="nome" class="form-control" id="nome" placeholder="Digite seu nome">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Digite seu email">
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" name="senha" class="form-control" id="senha" placeholder="Digite sua senha">
      </div>
      <div class="form-group">
        <label for="senhaConfirmar">Confirmar Senha</label>
        <input type="password" name="senhaConfirmar" class="form-control" id="senhaConfirmar" placeholder="Digite sua senha novamente">
      </div>
      <% if(typeof msg !== 'undefined'){ %> 
      <div class="alert alert-<%= (typeof msgType !== 'undefined') ? msgType: "danger"%>" role="alert">
        <p><%= msg%></p>
      </div>
      <% } %>
      <p>Já tem uma conta? <a href="/login"> Logue aqui!</a> </p>
      <button type="submit" class="bt_secundario">Cadastrar</button>

    </form>
  </div>
</section>


<%- include('./components/secProdutos.ejs'); %>
<%- include('./components/footer.ejs'); %>